$purple: #5533ff;
$cyan: #05d5ff;
$green: #a6ffcb;
$blue-1: #4553ff;
$blue-2: #4f40ff;
$turquoise: #25ddf5;
$blue-3: #1fa2ff;

#stripes {
	height: 760px;
	background: linear-gradient(150deg, $purple 15%, $cyan 70%, $green 94%);
	transform: skewY(-12deg);
	transform-origin: 0;
	position: relative;
	span {
		position: absolute;
		height: 190px;
		width: 33.3333%;
		&:nth-child(1) {
			background: $purple;
			top: 0px;
			left: -16.6666%;
		}
		&:nth-child(2) {
			background: $blue-1;
			top: 0px;
			left: 16.6666%;
		}
		&:nth-child(3) {
			background: $blue-2;
			top: 0px;
			left: 49.9998%;
		}
		&:nth-child(4) {
			background: $turquoise;
			top: 380px;
			right: -16.6666%;
		}
		&:nth-child(5) {
			background: $blue-3;
			bottom: 0px;
		}
	}
}
