#stripes {
	width: 100%;
	height: 100%;
	background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
	// position: absolute;
	transform: skewY(-12deg);
	transform-origin: 0;
	position: relative;
	height: 760px;
	span {
		position: absolute;
		height: 190px;
		&:nth-child(1) {
			width: 33.3333%;
			top: 0px;
			background: #53f;
			left: -16.6666%;
		}
		&:nth-child(2) {
			width: 33.3333%;
			top: 0px;
			background: #4553ff;
			left: 16.6666%;
		}
		&:nth-child(3) {
			width: 33.3333%;
			top: 0px;
			background: #4f40ff;
			left: 49.9998%;
		}
		&:nth-child(4) {
			width: 33.33333%;
			top: 380px;
			background: #25ddf5;
			right: -16.66666%;
		}
		&:nth-child(5) {
			width: 33.33333%;
			background: #1fa2ff;
			bottom: 0px;
		}
	}
}
